body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container-catalog {
    margin-top: 20px;
    margin-left: 20px;
    width: 600px;
    border: 1px solid #444;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container-basket {
    margin-top: 20px;
    margin-left: 20px;
    width: 600px;
    border: 1px solid #444;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.done {
    color: #ccc;
}

.done p {
    text-decoration: line-through;
}

header {
    padding: 20px;
    border-bottom: 1px solid #444;
}


#img-container {
    width: 50px;
    height: 50px;
}

img {
    width: 5%;
    height: 5%;
    /* object-fit: contain; */
}

h1 {
    color: firebrick;
    font-size: 20px;
    text-align: center;
}

.catalog-list {
    margin-left: 20px;
    text-align: left;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.task-item__title {}

.task-item__btn {}

.task-form {
    padding: 20px;
    border-top: 1px solid #444;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-form__input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 20px;
}

.catalog-form__btn {
    /* margin-top: 20px; */
    margin-left: 300px;
    width: 120px;
    height: 30px;
    background: rgb(143, 240, 240);
    border: 1px solid #ccc;
    border-radius: 15%;
    font-size: 20px;
    color: rgb(38, 180, 19);
}

footer {
    padding: 20px;
    border-top: 1px solid #444;
}